services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - "8080:80"
    restart: unless-stopped
  dev:
    build: 
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
     - "1313:1313"
    volumes:
      - ./:/www
