@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
  --bg-dark: #070D15;
  --bg-light: #ECF1F9;
  --post-gradient-dark: linear-gradient(to bottom, rgba(224, 233, 244, 0.1) 0%, rgba(224, 233, 244, 0) 100%);
  --post-gradient-light: linear-gradient(180deg,rgba(11, 19, 30, 0.1) 0%, rgba(11, 19, 30, 0) 100%);
  --text-dark: #E0E9F4;
  --text-light: #0B131E;
  --primary-dark: #8EB5E0;
  --primary-light: #1F4670;
  --secondary-dark: #1D4C7E;
  --secondary-light: #82B1E3;
  --accent-dark: #5194DD;
  --accent-light: #2366AF;
  --font-family: 'Roboto Mono', monospace;
  --font-size-base: 10px;
  --line-height-base: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;

  background-color: var(--bg-dark);
  border: 2px solid var(--text);
  color: var(--text-dark);
  line-height: 1.5;
  font-family: var(--font-family);
  margin: 0;
  max-width: 768px;
  animation: pan 5s linear infinite;
}

body > * {
  z-index: 3;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 0%, var(--bg-dark));
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 800px;
  height: 70vh;
  align-items: center;
  background-color: var(--bg-dark);
  border: 1px solid var(--text-dark);
  border-radius: 8px;
}

.scroll {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--text-dark) transparent;
}

.content {
  position: relative;
  padding: 3rem;
  width: 100%;
  height: inherit;
  max-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

/* header styling*/

header {
  border-bottom: 1px solid var(--text-dark);
  width: 100%;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;

  justify-content: space-between;
}

nav ul li {
  margin: 0;
  width: 100%;
  text-align: center;
}

a {
  color: var(--text-dark);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--accent-dark);
  text-decoration: underline;
  cursor: pointer;
}

a.active {
  color: var(--primary-dark);
}

.nav-link {
  display: flex;
  justify-content: center;
  min-width: 100%;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: rgba(255,255,255,0.1);
}

.nav-link.active {
  background-color: rgba(142,181,224,0.2);
}

@keyframes pan {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100px 100px;
  }
}


/* section listing */

main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  height: 100%;
}

.section-content {
  height: 100%;
}

.section-header {
  display: flex;
  justify-content: space-between;
  min-height: 20%;
  font-size: clamp(0.7rem, 1vw, 1rem);
}

.rss-feed { 
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-dark);
  text-decoration: none;
}

.rss-feed-link {
  display: flex;
  color: var(--text-dark);
  align-items: center;
}

.rss-feed-link:hover {
  color: var(--accent-dark);
  text-decoration: underline;
  cursor: pointer;
}

.rss-feed-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.section-listing {
  display: flex;
  flex-direction: column;
  max-height: 80%;
  background-image: var(--post-gradient-dark);
  border-radius: 8px;
}

.section-listing::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, transparent 0%, var(--bg-dark) 100%);
  pointer-events: none;
}

.post-info {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: var(--text-dark);
  padding: 1rem;
  border-bottom: 1px solid var(--primary-dark);
}

.post-info *{
  color: var(--text-dark);
  margin:0;
}

.post-info:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
}

.post-info:hover .post-title{
  color: var(--accent-dark);
  text-decoration: underline;
}

.post-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.post-tags {
  display: flex;
  gap: 0.5rem;
}

.post-tag {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: lighter;
}

.post-tag:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
}

.post-date {
  color: var(--primary-dark);
  font-size: 0.8rem;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.social-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 0;
}

.social-links li {
  list-style: none;
}

.social-links a {
  width: 2rem; 
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: inherit;
  fill: var(--text-dark);
}

/* page styling */
.page-header {
  display: flex;
  justify-content: space-between;
}
.page-header a {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--text-dark);
}

.page-header a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-dark);
}

.rss-feed-page { 
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  color: var(--text-dark);
  text-decoration: none;
}

.rss-feed-icon-page {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.page-tags {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.tag {
  color: var(--text-dark);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: lighter;
}
.tag:hover {
  color: var(--accent-dark);
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
}
.page-time {
  color: var(--primary-dark);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}


